section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

div.form {
    background: #FEFFFF;
    border: 1px solid #d3d2d2;
    width: 533px;
    height: 619px;
    box-shadow: 1px 1px 10px rgba(53, 53, 53, 0.5);
    border-radius: 40px;
    padding: 50px;
}

.logo {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 40px;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px
}

.fields div {
    display: flex;
    flex-direction: column
}

.email {
    display: flex;
    gap: 10px
}

.senha {
    display: flex;
    gap: 10px
}

.email input,
.senha input {
    border: 1px solid #CCCCCC;
    width: 421px;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
}

span {
    position: fixed;
    margin-left: 390px;
    margin-top: 7px;
}

a {
    color: #299BDB;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.buttons {
    display: flex;
    gap: 20px;
    margin-top: 35px
}

.buttons button {
    height: 43px;
    border-radius: 10px;
}

.buttons button:first-child {
    background: #2B317F;
    color: #FFFFFF;
    border: none;
}

.buttons button:last-child {
    border: 1px solid #4C4C4C;
    background: white
}